@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.modules-wrap{
  padding:10px 20px;
  .pagination{
    padding: 10px 0;
    text-align: center
  }
}

.search-bar {
  margin-bottom: 5px;
  .botton-wrap {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
    margin-left: 10px;
 }
}

.avatar {
  width: 150px;
  height: 150px;
  display: block;
}

/* 默认颜色 */
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

/* 鼠标悬停时的颜色 */
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* 被点击后的颜色 */
a:focus, a:active {
  color: #0056b3;
  text-decoration: underline;
}
